@{
    ViewData["Title"] = "Főoldal";
}


<!--<div class="conatiner">
    
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>

    <div class="Navbar">
        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="Menu">
            <div class="item"><a href="signup.html"><i class="fa fa-sign-in"></i>Regisztráció</a></div>


            <div class="item"><a href="login.html"><i class="fa fa-user"></i>Bejelntkezés</a></div>


            <div class="item">
                <a class="leiras-btn"><i class="fa fa-info"></i>Leírás<i class="fa fa-angle-right dropdown"></i></a>
                <div class="leiras-menu">
                    <a href="#" class="munka">Rólunk</a>
                    <a href="leiras.html" class="munka">A játékról</a>
                </div>
            </div>
        </div>
    </div>

</div>-->



<section class="szoveg">
    <h1>Akasztó fa<br>projektmunka</h1>
</section>
<div class="alairas">

</div>

<!-- <script type="text/javascript">
     $(document).ready(function(){
         //jquery for menus
         $('.leiras-btn').click(function(){
             $(this).next('.leiras-menu').slideToggle();
             $(this).find('dropdown').toggleClass('rotate');
         });

         //jquaery for expand and collapse the sidebar
         $('.menu-btn').click(function(){
             $('.Navbar').addClass('active');
             $('.menu-btn').css("visibility", "hidden");
         });
         $('.close-btn').click(function(){
             $('.Navbar').removeClass('active');
             $('.menu-btn').css("visibility", "visible");
         });
     });
 </script>-->
<footer>Készítették:Nyíri Zsombor, Juhász Bence, Tóth Patrik </footer>
